<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.vladstirbu.cordova.instagram"
  version="0.2.1">
  
  <name>Instagram</name>
  
  <asset src="www/CDVInstagramPlugin.js" target="js/CDVInstagramPlugin.js" />
  
  <platform name="ios">
    <!-- ios specific elements -->
    <config-file target="config.xml" parent="plugins">
      <plugin name="InstagramPlugin" value="CDVInstagramPlugin" />
    </config-file>

    <header-file src="src/ios/CDVInstagramPlugin.h" target-dir="CDVInstagramPlugin" />
    <source-file src="src/ios/CDVInstagramPlugin.m" target-dir="CDVInstagramPlugin" />
  </platform>
</plugin>
